
{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<h1>My To Do List</h1>
<a href="{% url 'tasks-create' %}">Add Task</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<div id="list_of_tasks">
    <h1>TASKS</h1>
    {% for task in tasks %} </br>
    <p2>{{task.title}}</p2>
    <a href="{% url 'task' task.id %}">View</a>
    <a href="{% url 'tasks-update' task.id %}">Update</a>
    <a href="{% url 'tasks-delete' task.id %}">Delete</a>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</div>